<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>setcolorservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.SetColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setcolorservlet</servlet-name>
    <url-pattern>/setcolor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>trigonometricservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.TrigonometricServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trigonometricservlet</servlet-name>
    <url-pattern>/trigonometric</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>funnystoryservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.FunnyStoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>funnystoryservlet</servlet-name>
    <url-pattern>/funny</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>piechartservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.PieChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>piechartservlet</servlet-name>
    <url-pattern>/reportImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>powersservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.PowersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>powersservlet</servlet-name>
    <url-pattern>/powers</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>hr.fer.zemris.java.hw13.servlets.ServletListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>glasanjeservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.GlasanjeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glasanjeservlet</servlet-name>
    <url-pattern>/glasanje</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>glasanjeglasajservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.GlasanjeGlasajServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glasanjeglasajservlet</servlet-name>
    <url-pattern>/glasanje-glasaj</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>glasanjerezultatiservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.GlasanjeRezultatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glasanjerezultatiservlet</servlet-name>
    <url-pattern>/glasanje-rezultati</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>glasanjegrafikaservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.GlasanjeGrafikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glasanjegrafikaservlet</servlet-name>
    <url-pattern>/glasanje-grafika</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>glasanjexlsservlet</servlet-name>
    <servlet-class>hr.fer.zemris.java.hw13.servlets.GlasanjeXLSServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>glasanjexlsservlet</servlet-name>
    <url-pattern>/glasanje-xls</url-pattern>
  </servlet-mapping>
</web-app>